html {
    width: 100%;
    height: 100%;
    font-size: 100.01%;
}

body {
    /*font: 14px/1.41 Verdana, Arial, sans-serif;*/
    width: 100%;
    height: 100%;
    background: url("../image/grid.png");
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    min-width: 1000px;
}

.empty p {
    color: #777;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 10px;
}

.footer {
    height: 30px;
    background: #000;
    font-weight: bold;
    margin-top: -30px;
    min-width: 1000px;
}

.footer p {
    margin: 0;
    padding: 0;
    color: #444;
    text-align: center;
    line-height: 2;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.navbar-brand {
    font-weight: bolder;
}

.table {
    font-size: 110%;
}

.table > thead > tr > th {
    border-bottom: 2px solid #aaa;
}

.table > tbody > tr > td {
    border-bottom: 1px solid #aaa;
}

.table > tbody > tr > td > a {
    text-decoration: none;
}

.table > tbody > tr > th {
    border-bottom: 1px solid #aaa;
}

.col-md-6, .col-md-8 {
    padding-left: 0;
}

.panel-default {
    margin-top: 20px;
}

.alert {
    margin-top: 20px;
}

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.2);
    outline: 0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.1);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.1)
}

#button input {
    color: #337ab7;
    font-weight: bolder;
    background: none;
    border-style: none;
}

#button input[type="submit"]:hover {
    color: #23527c;
}

#button .button:active, .button:focus {
    outline: none;
}
#button .button::-moz-focus-inner {
    border: 0;
}